# maven ignore
target/

# eclipse ignore
.settings/
.project
.classpath

# idea ignore
.idea/
*.ipr
*.iml
*.iws
rebel.xml

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp
pss.log.*

# system ignore
.DS_Store
Thumbs.db

# package ignore (optional)
*.war
*.zip
*.tar
*.tar.gz

